.content:nth-child(1) {
  background: url("../images/1.jpg") no-repeat center center/cover;
}

.content:nth-child(2) {
  background: url("../images/2.jpg") no-repeat center center/cover;
}

.content:nth-child(3) {
  background: url("../images/3.jpg") no-repeat center center/cover;
}

.content:nth-child(4) {
  background: url("../images/4.jpg") no-repeat center center/cover;
}

.content:nth-child(5) {
  background: url("../images/5.jpg") no-repeat center center/cover;
}

.content:nth-child(6) {
  background: url("../images/6.jpg") no-repeat center center/cover;
}

.content:nth-child(7) {
  background: url("../images/7.jpg") no-repeat center center/cover;
}

.content:nth-child(8) {
  background: url("../images/8.jpg") no-repeat center center/cover;
}

.content:nth-child(9) {
  background: url("../images/9.jpg") no-repeat center center/cover;
}

.content:nth-child(10) {
  background: url("../images/10.jpg") no-repeat center center/cover;
}

.content:nth-child(11) {
  background: url("../images/11.jpg") no-repeat center center/cover;
}
